.Header{
    background-image: url("../assets/images/blk.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10rem;
}

.nav-link{
    font-size: 2rem;
}

.join{
position: absolute;
top:50%;
left: 9rem;
}

.join_team{
    font-size: 6rem;
    color: #fff;
}

@media only screen and (max-width: 768px) {
  .join_team {
    font-size: 4rem;
  }
  .viewbtn{
padding: .2rem 2rem;
font-size: 1.5rem;
background: none;
color: #fff;
border-radius: 2rem;
border: 1.5px solid #fff;

}
}
.viewbtn{
padding: .4rem 4rem;
font-size: 2.5rem;
background: none;
color: #fff;
border-radius: 4rem;
border: 1.5px solid #fff;
 transition: all .2s ease-in-out;
}

.viewbtn:hover{
    background: #fff;
    color: #51b64b;
    transform: scale(1.1);

   
}
.viewbtn:focus{
    outline: none;
}

.vgg-section{
text-align: center;   
    padding: 6rem 0;
    width: 60%;
    margin: 2rem auto;
}

.vgg-section-paragraph{
padding-bottom: 2rem;
    font-size: 2rem;
    color:  var(--color-darkGreen);
}

.viewbtntwo{
    padding: .4rem 4rem;
font-size: 2rem;
background: var( --color-darkGreen);
color: #fff;
border-radius: 4rem;
border: 1.5px solid #fff;
 transition: all .2s ease-in-out;
}

.viewbtntwo:hover{
   border: 1.5px solid  var(--color-darkGreen);
    transform: scale(1.02);
background: none;
color:  var(--color-darkGreen);
   
}

.viewbtntwo:focus{
    outline: none;
}

.nav-item{
padding-left: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    border-bottom: 3px solid var( --color-vggBlue);
    padding-bottom: 0;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}


.nav-link{
     color: #fff;
}
.navbar-brand{
    padding-top: 2.5rem;
}

@media only screen and (max-width: 868px) {
 .navbar-brand{
     padding-top: 1.5rem;
     width: "100px"
  }


}

.navbar-toggler{
        background: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #fff;
}